body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}



/* Share css */

/* all button css */
.banner-btn {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #E02C6D;
  border:none;
  border-radius: 41px;
  padding: 10px 24px;
  margin-top: 16px;
  
}
/* header css */
/* navbar css style */

.navbar {
    display:flex;
  justify-content: space-between;
  max-width: 1200px;
  width:100%;
  align-items: center;
  margin: 0 auto;
}
ul {
  display:flex;
  gap:34px;
}

ul li {
  list-style:none;

}
ul a {
  text-decoration: none;
  color:#3A3A3A;
  font-size: 1rem;
  font-weight: 600;
}
.navbar-heading {
  font-size:1.5rem;
  font-weight: bold;
  color: #3A3A3A;
}

/* banner section style css */

.banner-container {
  display:flex;
  max-width:1188px;
  width:100%;
  margin : 0 auto;
  gap: 133px;
  align-items: center;
}
.banner-heading {
  font-size: 52px;
  font-weight: bold;
  color: #3A3A3A;
  line-height: 70px;
  margin-bottom: 16px;
}
.banner .lite-gray-text {
  font-size: 16px;
  font-weight: 600;
  color: #3A3A3A;
}